{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    
</head>
<body>
    <div id="particles-js"></div>
    <div class="overlay">
        <div class=" container mt-4">
            <h2 class="text-white text-center">Enigma Decoder</h2>
            <div class="wrapper vcenter-item">
                <div class="box"><h4>The encrpyted message is : </h4><p class="text-monospace font-weight-bold">{{request.session.encrypted_text}}</p></div>
                <div class="box"><h4>The decrpyted message is : </h4><p class="text-monospace font-weight-bold">{{request.session.decrypted_text}}</p></div>
                <div class="box"><h4>The optimal place for the army is : </h4>
                    <p class="text-monospace font-weight-bold">    
                        {%for i in request.session.location%}
                            {{i.0|title}}&nbsp
                        {%endfor%}
                    </p>
                </div>
            <div class="box"><h4>At a total distance of : </h4> <p class="text-monospace font-weight-bold">{{request.session.location.0.1}} hops</p></div>   
            </div>
        </div>
    </div>
</body>
<script src="{% static 'particles.js' %}"></script>
<script src="{% static 'particles-app.js' %}"></script>
</html>