<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        /* Some custom styles to beautify this example */
        .vcenter-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    /* Some custom styles to beautify this example */
    .wrapper{
        background: white;
        min-height: 300px;
        margin:2.5rem auto;
    }
    .box{
        padding: 25px;
        background: #e2e1ee;
        width: 100%;
    }
    </style>
</head>
<body>
    <div class=" container mt-4">
        <h2>Enigma Encoder</h2>
        <div class="wrapper vcenter-item">
            <div class="box"><h4>The encrpyted message is :</h4></div>
            <div class="box"><h4>The decrpyted message is :</h4></div>
            <div class="box"><h4>The optimal place for the army is :</h4></div>
           <div class="box"><h4>At an average distance of:</h4></div>   
        </div>
    </div>
</body>
</html>